@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

:root {
  --white: #fdfcfc;
  --gray: #f6f6f6;
  --blue: #8eadd5;
  --blue-hover: #1e67c7;
  --black: #272d38;

  --primary-font: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    width: 100%;
    color: var(--black);
    font-family: var(--primary-font);
    scroll-behavior: smooth;
}

a{
    color: var(--black);
    text-decoration: none;
}

.btn{
    transition: color .3s ease;
}
.btn:hover{
    background-color: var(--blue-hover);
    cursor: pointer;
}


/* -------Font styles----------- */
h1{
    color: var(--primary-color);
    text-align: center;
  
    /* H1 - Main Heading */
    font-family: var(--primary-font);
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 63.357px;
}

h2{
    color: var(--primary-color);
    text-align: center;

    /* H2 - Subheading */
    font-family: var(--primary-font);
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 35.748px; /* 102.137% */
    text-transform: uppercase;
}

h3{
    color: var(--primary-color);
    text-align: center;
    color: #000;
    /* H3 - Subheading */
    font-family: var(--primary-font);
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;
}